# 공통
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# 빌드 결과물
dist/
build/
.cache/
.vite/

# 환경 변수 / 비밀키
.env
*.env
backend/.env
frontend/.env

# OS / 에디터 파일
.DS_Store
Thumbs.db
.vscode/
.idea/

# prisma (만약 sqlite 쓰면)
backend/prisma/dev.db
backend/prisma/dev.db-journal
